@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
  background-color: gray-50;
  color: white;
} */
@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.animate-slideIn {
  animation: slideIn 0.3s ease-out forwards;
}
